<!-- Chargement du layout -->
<% layout('templates/layout/page') %>
<% block('title', 'Chawarma - Accueil'); -%>

<div class="content">
    <h1>Accueil</h1>
    <h2>Bienvenue <%= user.per_prenom %></h2>
    <hr>
    <br>
    <div style="overflow-x:auto;">
        <table>
            <tr id="thead">
                <th>N°</th>
                <th>Libelle</th>
                <th>Etat</th>
            </tr>
            <% for(var i=0; i < Object.keys(sondages.sondages).length; i++) {%>
            <tr>
                <td><%= sondages.sondages[i].son_id %></td>
                <td><%= sondages.sondages[i].son_refe %></td>
                <% if (sondages.sondages[i].cla_flag == 'O'){ %>
                    <td><a class="ouvert" href="/quiz/<%=i%>">Ouvert</a></td>
                <% } %>
                <% if (sondages.sondages[i].cla_flag == 'F'){ %>
                    <td><a class="ferme" href="/quiz/<%=i%>">Fermé</a></td>
                <% } %>
            </tr>
            <% } %>
        </table>
    </div>

</div>
