<!-- Chargement du layout -->
<% layout('templates/layout/page') %>
<% block('title', 'Chawarma - Accueil'); -%>

<div class="content">
    <h1>Accueil</h1>
    <h2>Bienvenue <%= user.per_prenom %><% if (user.isProf) { %> <a class="toolbar" href="/creerSondage">+</a> <% } %></h2>
    <hr>
    <br>
    <div style="overflow-x:auto;">
        <table class="table">
            <thead>
            <tr id="thead">
                <th>N°</th>
                <th>Libelle</th>
                <th>Etat</th>
                <% if(user.isProf){ %>
                    <th>Ouvrir/Fermer</th>
                <% } %>
            </tr>
            <% for(var i=0; i < Object.keys(sondages.sondages).length; i++) {%>
            <tr>
                <td><%= sondages.sondages[i].son_id %></td>
                <td><%= sondages.sondages[i].son_refe %></td>
                <% if (sondages.sondages[i].cla_flag == 'O'){ %>
                    <td><a class="ouvert" href="/quiz/<%= sondages.sondages[i].son_id %>">Ouvert</a></td>
                <% } %>
                <% if (sondages.sondages[i].cla_flag == 'F'){ %>
                    <td><a class="ferme" href="/quiz/<%= sondages.sondages[i].son_id %>">Fermé</a></td>
                <% } %>
                <% if (sondages.sondages[i].cla_flag == 'N'){ %>
                    <td><a class="nouveau" href="/quiz/<%= sondages.sondages[i].son_id %>">Nouveau</a></td>
                <% } %>
                <% if(user.isProf){ %>
                    <% if (sondages.sondages[i].cla_flag == 'F' || sondages.sondages[i].cla_flag == 'N'){ %>
                        <td><a class="ouvert" href="/etat/<%= sondages.sondages[i].son_id %>/O">Ouvrir</a></td>
                    <% } %>
                    <% if (sondages.sondages[i].cla_flag == 'O'){ %>
                        <td><a class="ferme" href="/etat/<%= sondages.sondages[i].son_id %>/F">Fermer</a></td>
                    <% } %>
                <% } %>
            </tr>
            <% } %>
        </table>
    </div>

</div>
